.cont{
    background-color: #5e068a;
    color: white;
}

.conti{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conti p{
    margin: 8px 0;
    font-size: 13px;
}

.cur img{
    height: 450px;
}

.b9{
    color: black;
}

.cap{
    top: 40px;
    width: 75%;
    margin: auto;
}

.cap h1{
    color: white;
    font-size: 60px;
    text-align: justify;
}

.cap p{
    color: white;
    text-align: justify;
}

.btt{
    text-align: left;
}

.bt{
    background-color: rgb(68, 1, 68);
    border-radius: 36px;
    width: 200px;
    height: 59px;
    color: white;
}

.bt:hover{
    background-color: rgb(203, 4, 203);
}

.ip{
    margin: 5px 0 ;
}

.bt1{
    margin: 10px 0;
}

.cen{
    text-align: center;
}

.ip{
    border: none;
}

.bm{
    width: 150px;
    height: 30px;
    background-color: rgb(68, 1, 68);
    color: white;
}

.left{
    text-align: left;
}

.disbt{
    width: 150px;
    height: 40px;
    background-color: rgb(68, 1, 68);
    color: white;
    border-radius: 30px;
}

.disbt:hover{
    background-color: white;
    color: rgb(68, 1, 68);
}

.con2 h3{
    color: #5e068a;
}

.con2 .p1{
    color: #5e068a99;
    font-size: 20px;
}

#im1{
    width: 100%;
}

.r4:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bcard{
    width: 110px;
    height: 30px;
    color: white;
    background-color: #5e068a;
}

.cc{
    color: #5e068a;
}

.bt3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btc{
    background-color: white;
    border-radius: 36px;
    width: 200px;
    height: 59px;
    color: rgb(68, 1, 68);
}

.btc:hover{
    background-color: rgb(68, 1, 68);
    color: white;
}

@media(max-width:1042px){
    .cap h1{
        font-size: 30px;
    }
}   

@media(max-width:451px){
    .cap h1,.con2 h3{
        font-size: 20px;
    }
    .cap p,.con2 .p1{
        font-size: 12px;
    }
    .bt,.btc{
        width: 150px;
        height: 29px;
        font-size: 15px;
    }
    .imn{
        width:50%;
    }
}